body {
    text-align: center;
}

div {
    display: inline-block;
    padding: 5rem;
}

.icon {
    color: #000;
    font-size: 5rem;
}

.icon-antenna {
    color: #00f;
}

.icon-heart {
    color: #f00;
}